@font-face {
	font-family: 'Garamond';
	src: url('garamond.ttf');
}

body {
	font-family: 'Quattrocento', serif;
	width: 1300px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

img {
	height: 150px;
	width: 150px;
	margin: 25px;
}
