@font-face {
	font-family: 'Garamond';
	src: url('garamond.ttf');
}

body {
	font-family: 'Garamond';	
	width: 1300px;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	letter-spacing: 2px;
	padding: 10px;
	text-align: center;
	color: #999;
}

h4 {
	font-size: 20px;
	letter-spacing: 1px;
	color: #666;
}
