include cal_header
.description
	h2 RANDOM DATE EXPERIMENT

.description.mbot15
	| Simply click on 20 random dates on this calendar. Try to make your selection as indistinguishable as possible from a true random selection.

.buttons
	a.btn(href="/Math199CHP_RandomDateExp_experiment") PARTICIPATE
	a.btn(href="/Math199CHP_RandomDateExp_calc") RESULTS