//- include cal_header
h1 Math 199 CHP Experiments
ul
	li
		a(href="/Math199CHP_BrokenStick", style="color: #333;") The Broken Stick Experiment
	li
		a(href="/Math199CHP_RandomClickData", style="color: #333;") The Broken Stick Experiment - RESULT
	li 
		a(href="/Math199CHP_RandomString", style="color: #333;") The Random Binary String Experiment
	li 
		a(href="/Math199CHP_RandomStringData", style="color: #333;") The Random Binary String Experiment - RESULT